<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home </title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicons -->
<link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme }}">
<!-- Fontawesome css -->
<link rel="stylesheet" href="{{ 'assets/css/font-awesome.min.css'|theme }}">
<!-- Ionicons css -->
<link rel="stylesheet" href="{{ 'assets/css/ionicons.min.css'|theme }}">
<!-- linearicons css -->
<link rel="stylesheet" href="{{ 'assets/css/linearicons.css'|theme }}">
<!-- Nice select css -->
<link rel="stylesheet" href="{{ 'assets/css/nice-select.css'|theme }}">
<!-- Jquery fancybox css -->
<link rel="stylesheet" href="{{ 'assets/css/jquery.fancybox.css'|theme }}">
<!-- Jquery ui price slider css -->
<link rel="stylesheet" href="{{ 'assets/css/jquery-ui.min.css'|theme }}">
<!-- Meanmenu css -->
<link rel="stylesheet" href="{{ 'assets/css/meanmenu.min.css'|theme }}">
<!-- Nivo slider css -->
<link rel="stylesheet" href="{{ 'assets/css/nivo-slider.css'|theme }}">
<!-- Owl carousel css -->
<link rel="stylesheet" href="{{ 'assets/css/owl.carousel.min.css'|theme }}">
<!-- Bootstrap css -->
<link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|theme }}">
<!-- Custom css -->
<link rel="stylesheet" href="{{ 'assets/css/default.css'|theme }}">
<!-- Main css -->
<link rel="stylesheet" href="{{ 'assets/style.css?v=1'|theme }}">
<!-- Responsive css -->
<link rel="stylesheet" href="{{ 'assets/css/responsive.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/owl/owl.carousel.min.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/owl/owl.theme.default.min.css'|theme }}">

<!-- Modernizer js -->
<script src="{{ 'assets/js/vendor/modernizr-3.5.0.min.js'|theme }}"></script>
{% styles %}
