<div class="col-xl-9 col-lg-8 slider_box">
    <div class="slider-wrapper theme-default">
        <!-- Slider Background  Image Start-->
        <div id="slider" class="nivoSlider">
            {% for rec in partialsRecords %}
            <a href="shop.html">
                <img src="{{ rec.image| resize(900, 410) }}" data-thumb="img/slider/1.jpg" alt=""
                         title="#htmlcaption"/>
            </a>
            {% endfor %}


        </div>
        <!-- Slider Background  Image Start-->
    </div>
</div>
